<a href="https://colab.research.google.com/github/NuttharikaTht/MovieIMDbScoreModel/blob/main/model_backup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library and Dataset

In [326]:
import tensorflow.keras

In [327]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotnine import *

In [328]:
df = pd.read_csv("./movie_metadata.csv")

# Dataset Checking

In [329]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [330]:
df.shape

(5043, 28)

In [331]:
df.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [332]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,4993.0,1.401943e+02,1.216017e+02,1.00,50.00,110.00,195.00,8.130000e+02
duration,5028.0,1.072011e+02,2.519744e+01,7.00,93.00,103.00,118.00,5.110000e+02
director_facebook_likes,4939.0,6.865092e+02,2.813329e+03,0.00,7.00,49.00,194.50,2.300000e+04
actor_3_facebook_likes,5020.0,6.450098e+02,1.665042e+03,0.00,133.00,371.50,636.00,2.300000e+04
actor_1_facebook_likes,5036.0,6.560047e+03,1.502076e+04,0.00,614.00,988.00,11000.00,6.400000e+05
gross,4159.0,4.846841e+07,6.845299e+07,162.00,5340987.50,25517500.00,62309437.50,7.605058e+08
num_voted_users,5043.0,8.366816e+04,1.384853e+05,5.00,8593.50,34359.00,96309.00,1.689764e+06
cast_total_facebook_likes,5043.0,9.699064e+03,1.816380e+04,0.00,1411.00,3090.00,13756.50,6.567300e+05
facenumber_in_poster,5030.0,1.371173e+00,2.013576e+00,0.00,0.00,1.00,2.00,4.300000e+01
num_user_for_reviews,5022.0,2.727708e+02,3.779829e+02,1.00,65.00,156.00,326.00,5.060000e+03
budget,4551.0,3.975262e+07,2.061149e+08,218.00,6000000.00,20000000.00,45000000.00,1.221550e+10
title_year,4935.0,2.002471e+03,1.247460e+01,1916.00,1999.00,2005.00,2011.00,2.016000e+03
actor_2_facebook_likes,5030.0,1.651754e+03,4.042439e+03,0.00,281.00,595.00,918.00,1.370000e+05
imdb_score,5043.0,6.442138e+00,1.125116e+00,1.60,5.80,6.60,7.20,9.500000e+00
aspect_ratio,4714.0,2.220403e+00,1.385113e+00,1.18,1.85,2.35,2.35,1.600000e+01
movie_facebook_likes,5043.0,7.525965e+03,1.932045e+04,0.00,0.00,166.00,3000.00,3.490000e+05

# Data Preparation

## Removing

In [333]:
# Removing Attrb that not relevant

df.drop( 'movie_imdb_link', axis=1, inplace = True)
df.drop('movie_title',axis=1,inplace=True)
df.drop( 'num_critic_for_reviews', axis=1, inplace = True)
df.drop( 'gross', axis=1, inplace = True)
df.drop( 'num_voted_users', axis=1, inplace = True)
df.drop( 'num_user_for_reviews', axis=1, inplace = True)
df.drop( 'title_year', axis=1, inplace = True)
df.drop( 'movie_facebook_likes', axis=1, inplace = True)
df.drop( 'cast_total_facebook_likes',axis=1,inplace=True)
df.drop( 'director_facebook_likes',axis=1,inplace=True)
df.drop( 'actor_3_facebook_likes',axis=1,inplace=True)
df.drop( 'actor_1_facebook_likes',axis=1,inplace=True)
df.drop( 'actor_2_facebook_likes',axis=1,inplace=True)
df.drop( 'aspect_ratio',axis=1,inplace=True)
df.drop( 'facenumber_in_poster',axis=1,inplace=True)

In [334]:
df.columns

Index(['color', 'director_name', 'duration', 'actor_2_name', 'genres',
       'actor_1_name', 'actor_3_name', 'plot_keywords', 'language', 'country',
       'content_rating', 'budget', 'imdb_score'],
      dtype='object')

In [335]:
# Checking NaN Value in each Attrb
df.isna().any()

color              True
director_name      True
duration           True
actor_2_name       True
genres            False
actor_1_name       True
actor_3_name       True
plot_keywords      True
language           True
country            True
content_rating     True
budget             True
imdb_score        False
dtype: bool

In [336]:
#Checking Number of NaN Value in each Attrb
df.isna().sum()

color              19
director_name     104
duration           15
actor_2_name       13
genres              0
actor_1_name        7
actor_3_name       23
plot_keywords     153
language           12
country             5
content_rating    303
budget            492
imdb_score          0
dtype: int64

In [337]:
new_df = df.dropna()

In [338]:
new_df.isna().sum()

color             0
director_name     0
duration          0
actor_2_name      0
genres            0
actor_1_name      0
actor_3_name      0
plot_keywords     0
language          0
country           0
content_rating    0
budget            0
imdb_score        0
dtype: int64

In [339]:
new_df.shape

(4264, 13)

In [340]:
df = new_df

In [341]:
df.drop_duplicates(inplace=True)
df.shape

(4152, 13)

In [342]:
#Check Amount in Each Language of Movies
df["language"].value_counts()

English       3967
French          40
Spanish         28
Mandarin        16
Japanese        13
German          10
Italian          8
Cantonese        7
Hindi            7
Portuguese       6
Russian          5
Korean           5
Norwegian        4
Persian          3
Danish           3
Thai             3
Dutch            3
Zulu             2
Aboriginal       2
None             2
Indonesian       2
Dari             2
Hebrew           2
Mongolian        1
Romanian         1
Vietnamese       1
Arabic           1
Filipino         1
Czech            1
Maya             1
Kazakh           1
Aramaic          1
Hungarian        1
Bosnian          1
Swedish          1
Name: language, dtype: int64

In [343]:
#Drop Language Column because Most of Movie is in English

df.drop('language',axis=1,inplace=True)

In [344]:
df["country"].value_counts()

USA               3251
UK                 352
France             116
Canada              89
Germany             84
Australia           45
Spain               25
Japan               18
Italy               16
China               14
Hong Kong           13
New Zealand         11
Denmark              9
South Korea          9
South Africa         8
Norway               7
Mexico               7
Ireland              7
India                7
Russia               6
Brazil               6
Argentina            4
Iran                 4
Thailand             4
Netherlands          4
Czech Republic       3
Taiwan               2
Israel               2
Hungary              2
West Germany         2
Romania              2
Belgium              1
Iceland              1
Sweden               1
Switzerland          1
Afghanistan          1
Indonesia            1
Kyrgyzstan           1
New Line             1
Poland               1
Colombia             1
Soviet Union         1
Finland              1
Bahamas              1
Greece               1
Peru                 1
Aruba                1
Libya                1
Georgia              1
Bulgaria             1
Chile                1
Official site        1
Panama               1
Philippines          1
Name: country, dtype: int64

In [345]:
#Drop Country Column because Most of Movie is in USA

df.drop('country',axis=1,inplace=True)

In [346]:
df["color"].value_counts()

Color               3981
 Black and White     171
Name: color, dtype: int64

In [347]:
#Drop Country Column because Most of Movie is in Color
df.drop('color',axis=1,inplace=True)

In [348]:
#Drop Plot Keywords Column because it has too many unique variables per movie
df.drop('plot_keywords',axis=1,inplace=True)

In [349]:
df.head()

,director_name,duration,actor_2_name,genres,actor_1_name,actor_3_name,content_rating,budget,imdb_score
0,James Cameron,178.0,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Wes Studi,PG-13,237000000.0,7.9
1,Gore Verbinski,169.0,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Jack Davenport,PG-13,300000000.0,7.1
2,Sam Mendes,148.0,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Stephanie Sigman,PG-13,245000000.0,6.8
3,Christopher Nolan,164.0,Christian Bale,Action|Thriller,Tom Hardy,Joseph Gordon-Levitt,PG-13,250000000.0,8.5
5,Andrew Stanton,132.0,Samantha Morton,Action|Adventure|Sci-Fi,Daryl Sabara,Polly Walker,PG-13,263700000.0,6.6

In [350]:
df.shape

(4152, 9)

In [351]:
df.columns

Index(['director_name', 'duration', 'actor_2_name', 'genres', 'actor_1_name',
       'actor_3_name', 'content_rating', 'budget', 'imdb_score'],
      dtype='object')

## Replace spacebar in Name

In [352]:
df['director_name'] = df['director_name'].str.replace(' ', '')
df['actor_1_name'] = df['actor_1_name'].str.replace(' ', '')
df['actor_2_name'] = df['actor_2_name'].str.replace(' ', '')
df['actor_3_name'] = df['actor_3_name'].str.replace(' ', '')

## Split genres to Columns (One Hot)

In [353]:
df['genres'] = df['genres'].str.replace('|', ',')

In [354]:
from sklearn.preprocessing import MultiLabelBinarizer

In [355]:
mlb = MultiLabelBinarizer()

In [356]:
df1 = df.join(pd.DataFrame(mlb.fit_transform(df['genres'].str.split(',')),
                           columns=mlb.classes_))

In [357]:
df1.columns

Index(['director_name', 'duration', 'actor_2_name', 'genres', 'actor_1_name',
       'actor_3_name', 'content_rating', 'budget', 'imdb_score', 'Action',
       'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Family', 'Fantasy', 'Film-Noir', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [358]:
for g in mlb.classes_:
  df1[g].fillna("0", inplace = True)

In [359]:
df1

,director_name,duration,actor_2_name,genres,actor_1_name,actor_3_name,content_rating,budget,imdb_score,Action,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,JamesCameron,178.0,JoelDavidMoore,"Action,Adventure,Fantasy,Sci-Fi",CCHPounder,WesStudi,PG-13,237000000.0,7.9,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,GoreVerbinski,169.0,OrlandoBloom,"Action,Adventure,Fantasy",JohnnyDepp,JackDavenport,PG-13,300000000.0,7.1,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,SamMendes,148.0,RoryKinnear,"Action,Adventure,Thriller",ChristophWaltz,StephanieSigman,PG-13,245000000.0,6.8,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,ChristopherNolan,164.0,ChristianBale,"Action,Thriller",TomHardy,JosephGordon-Levitt,PG-13,250000000.0,8.5,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,AndrewStanton,132.0,SamanthaMorton,"Action,Adventure,Sci-Fi",DarylSabara,PollyWalker,PG-13,263700000.0,6.6,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5034,NeillDelaLlana,80.0,EdgarTancangco,Thriller,IanGamazon,QuynnTon,Not Rated,7000.0,6.3,0,...,0,0,0,0,0,0,0,0,0,0
5035,RobertRodriguez,81.0,PeterMarquardt,"Action,Crime,Drama,Romance,Thriller",CarlosGallardo,ConsueloGÃ³mez,R,7000.0,6.9,0,...,0,0,0,0,0,0,0,0,0,0
5036,AnthonyVallone,84.0,JohnConsidine,"Crime,Drama",RichardJewell,SaraStepnicka,PG-13,3250.0,7.8,0,...,0,0,0,0,0,0,0,0,0,0
5037,EdwardBurns,95.0,CaitlinFitzGerald,"Comedy,Drama",KerryBishÃ©,DaniellaPineda,Not Rated,9000.0,6.4,0,...,0,0,0,0,0,0,0,0,0,0
5042,JonGunn,90.0,BrianHerzlinger,Documentary,JohnAugust,JonGunn,PG,1100.0,6.6,0,...,0,0,0,0,0,0,0,0,0,0

In [360]:
df1.dtypes

director_name      object
duration          float64
actor_2_name       object
genres             object
actor_1_name       object
actor_3_name       object
content_rating     object
budget            float64
imdb_score        float64
Action             object
Adventure          object
Animation          object
Biography          object
Comedy             object
Crime              object
Documentary        object
Drama              object
Family             object
Fantasy            object
Film-Noir          object
History            object
Horror             object
Music              object
Musical            object
Mystery            object
Romance            object
Sci-Fi             object
Sport              object
Thriller           object
War                object
Western            object
dtype: object

In [361]:
df = df1

In [362]:
df.drop('genres',axis=1,inplace=True)

## Binning Movies' Budget

In [363]:
df['budget_binned'] = pd.qcut(df['budget'], q=4)

In [364]:
df['budget_binned'] .value_counts()

(7500000.0, 20000000.0]        1077
(217.999, 7500000.0]           1053
(45000000.0, 12215500000.0]    1026
(20000000.0, 45000000.0]        996
Name: budget_binned, dtype: int64

In [365]:
df.drop('budget',axis=1,inplace=True)

In [366]:
df.dtypes

director_name       object
duration           float64
actor_2_name        object
actor_1_name        object
actor_3_name        object
content_rating      object
imdb_score         float64
Action              object
Adventure           object
Animation           object
Biography           object
Comedy              object
Crime               object
Documentary         object
Drama               object
Family              object
Fantasy             object
Film-Noir           object
History             object
Horror              object
Music               object
Musical             object
Mystery             object
Romance             object
Sci-Fi              object
Sport               object
Thriller            object
War                 object
Western             object
budget_binned     category
dtype: object

## Binning Movies' Duration

In [367]:
df['duration_binned'] = pd.qcut(df['duration'], q=4)

In [368]:
df['duration_binned'] .value_counts()

(19.999, 95.0]    1128
(119.0, 330.0]    1020
(95.0, 105.0]     1004
(105.0, 119.0]    1000
Name: duration_binned, dtype: int64

In [369]:
df.drop('duration',axis=1,inplace=True)

In [370]:
df.dtypes

director_name        object
actor_2_name         object
actor_1_name         object
actor_3_name         object
content_rating       object
imdb_score          float64
Action               object
Adventure            object
Animation            object
Biography            object
Comedy               object
Crime                object
Documentary          object
Drama                object
Family               object
Fantasy              object
Film-Noir            object
History              object
Horror               object
Music                object
Musical              object
Mystery              object
Romance              object
Sci-Fi               object
Sport                object
Thriller             object
War                  object
Western              object
budget_binned      category
duration_binned    category
dtype: object

## Binning Movies' Score

In [371]:
df['score_binned'] = pd.qcut(df['imdb_score'], q=4)

In [372]:
df['score_binned'] .value_counts()

(6.55, 7.2]                  1122
(1.5990000000000002, 5.8]    1065
(5.8, 6.55]                  1011
(7.2, 9.3]                    954
Name: score_binned, dtype: int64

In [373]:
df.drop('imdb_score',axis=1,inplace=True)

In [374]:
df.dtypes

director_name        object
actor_2_name         object
actor_1_name         object
actor_3_name         object
content_rating       object
Action               object
Adventure            object
Animation            object
Biography            object
Comedy               object
Crime                object
Documentary          object
Drama                object
Family               object
Fantasy              object
Film-Noir            object
History              object
Horror               object
Music                object
Musical              object
Mystery              object
Romance              object
Sci-Fi               object
Sport                object
Thriller             object
War                  object
Western              object
budget_binned      category
duration_binned    category
score_binned       category
dtype: object

# Splitting the data into training and test data

In [375]:
df.columns

Index(['director_name', 'actor_2_name', 'actor_1_name', 'actor_3_name',
       'content_rating', 'Action', 'Adventure', 'Animation', 'Biography',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy',
       'Film-Noir', 'History', 'Horror', 'Music', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'Western',
       'budget_binned', 'duration_binned', 'score_binned'],
      dtype='object')

In [376]:
X=pd.DataFrame(columns=['director_name', 'actor_2_name', 'actor_1_name', 'actor_3_name',
       'content_rating', 'Action', 'Adventure', 'Animation', 'Biography',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy',
       'Film-Noir', 'History', 'Horror', 'Music', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'Western',
       'budget_binned', 'duration_binned'] ,data=df)
y=pd.DataFrame(columns=['score_binned'],data=df)

In [377]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=100)

# Model

In [378]:
from sklearn.preprocessing import LabelEncoder
from sklearn import model_selection, svm
from sklearn.metrics import accuracy_score

In [379]:
Encoder = LabelEncoder()

In [380]:
y_train = Encoder.fit_transform(y_train)
y_test = Encoder.fit_transform(y_test)

In [381]:
SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM.fit(X_train,y_train)
# predict labels
predictions_SVM = SVM.predict(X_test)
# get the accuracy
print("Accuracy: ",accuracy_score(predictions_SVM, y_test)*100)

ValueError: ignored